h1,
p {
  font-family: Lato;
}

/* .svg-path {
  transition: all 0.2s ease-in-out;
} */

svg path,
svg rect,
svg text {
  transition: 1s ease-in-out;
  cursor: pointer;
  font-family: sans-serif;
}

.svg-path {
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
